{% block user_block %}
    {% if app.user %}

        {% set _bg_class    = "bg-light-blue" %}
        {% set _logout_uri  = url('sonata_user_admin_security_logout') %}
        {% set _logout_text = 'user_block_logout'|trans({}, 'SonataUserBundle') %}
        {% set _user_image  = asset(sonata_user.defaultAvatar) %}
        {# Customize this with your profile picture implementation, see below for example #}
        {#{% set _user_image  = app.user.profilePicture|default(asset(sonata_user.defaultAvatar)) %}#}

        {% if is_granted('ROLE_PREVIOUS_ADMIN') and sonata_user.impersonating %}
            {% set _bg_class    = "bg-light-green" %}
            {% set _logout_uri  = url(sonata_user.impersonating.route, sonata_user.impersonating.parameters| merge({'_switch_user': '_exit'})) %}
            {% set _logout_text = '(exit)' %}
        {% endif %}

        <li class="user-header {{ _bg_class }}">
            {% if _user_image %}
                <img src="{{ _user_image }}" class="img-circle" alt="Avatar" />
            {% endif %}
            <p>{{ app.user }}</p>
        </li>

{#
    Uncomment to add some information
        <li class="user-body">

        </li>
#}

        <li class="user-footer">

            <div class="pull-left">
                <a href="teste">TESTE</a>
            </div>


            <div class="pull-right">
                <a href="{{ _logout_uri }}" class="btn btn-default btn-flat"><i class="fa fa-sign-out fa-fw"></i> {{ _logout_text }}</a>
            </div>
        </li>
    {% endif %}
{% endblock %}
