{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    <input type="checkbox" class="ace" name="idx[]" value="{{ admin.id(object) }}">
    <span class="lbl"></span>
{% endblock %}
