{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% set _preview              = block('preview') %}
{% set _form                 = block('form') %}
{% set _show                 = block('show') %}
{% set _list_table           = block('list_table') %}
{% set _list_filters         = block('list_filters') %}
{% set _tab_menu             = block('tab_menu') %}
{% set _content              = block('content') %}
{% set _title                = block('title') %}
{% set _breadcrumb           = block('breadcrumb') %}
{% set _actions              = block('actions') %}
{% set _navbar_title         = block('navbar_title') %}
{% set _list_filters_actions = block('list_filters_actions') %}

<!DOCTYPE html>
<html lang="pt_BR">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
        <title>
            {% block sonata_head_title %}
                {{ 'Admin'|trans({}, 'SonataAdminBundle') }}

                {% if _title is not empty %}
                    {{ _title|raw }}
                {% else %}
                    {% if action is defined %}
                        -
                        {% for menu in admin.breadcrumbs(action) %}
                            {% if not loop.first %}
                                {%  if loop.index != 2 %}
                                    &gt;
                                {% endif %}

                                {{ menu.label }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif%}
            {% endblock %}
        </title>

        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <!-- page specific plugin styles -->
        {% block stylesheets %}
            {% if admin_pool is defined %}
                {% for stylesheet in admin_pool.getOption('stylesheets', []) %}
                    <link rel="stylesheet" href="{{ asset(stylesheet) }}">
                {% endfor %}
            {% endif %}
        {% endblock %}

        <!-- page specific plugin scripts -->
        {% block javascripts %}
            <script>
                window.SONATA_CONFIG = {
                    CONFIRM_EXIT: {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}true{% else %}false{% endif %},
                    USE_SELECT2: {% if admin_pool is defined and admin_pool.getOption('use_select2') %}true{% else %}false{% endif %},
                    USE_ICHECK: {% if admin_pool is defined and admin_pool.getOption('use_icheck') %}true{% else %}false{% endif %}
                };
                window.SONATA_TRANSLATIONS = {
                    CONFIRM_EXIT: '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
                };
            </script>

            {% for javascript in admin_pool.getOption('javascripts', []) %}
                <script src="{{ asset(javascript) }}" type="text/javascript"></script>
            {% endfor %}

        {% endblock %}

        <!-- Sonata css -->

        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="/bundles/painel/css/bootstrap.css" />
        <link rel="stylesheet" href="/bundles/painel/css/font-awesome.css" />

        <!-- text fonts -->
        <link rel="stylesheet" href="/bundles/painel/css/ace-fonts.css" />

        <!-- ace styles -->
        <link rel="stylesheet" href="/bundles/painel/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
        <link rel="stylesheet" href="/bundles/painel/css/ace-skins.css" />

        <!--[if lte IE 9]>
                <link rel="stylesheet" href="/bundles/painel/css/ace-part2.css" class="ace-main-stylesheet" />
        <![endif]-->

        <!--[if lte IE 9]>
          <link rel="stylesheet" href="/bundles/painel/css/ace-ie.css" />
        <![endif]-->

        <!-- inline styles related to this page -->

        <!-- ace settings handler -->
        <script src="/bundles/painel/js/ace-extra.js"></script>

        <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

        <!--[if lte IE 8]>
        <script src="/bundles/painel/js/html5shiv.js"></script>
        <script src="/bundles/painel/js/respond.js"></script>
        <![endif]-->

    </head>

    <body {% block body_attributes %}class="skin-3 no-skin"{% endblock %}>
        {% block sonata_login %}
            <!-- #section:basics/navbar.layout -->
            <div id="navbar" class="navbar navbar-default">
                <script type="text/javascript">
                try {
                    ace.settings.check('navbar', 'fixed')
                } catch (e) {
                }
                </script>

                <div class="navbar-container" id="navbar-container">
                    <!-- #section:basics/sidebar.mobile.toggle -->
                    <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                        <span class="sr-only">Toggle sidebar</span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>
                    </button>

                    <!-- /section:basics/sidebar.mobile.toggle -->
                    <div class="navbar-header pull-left">
                        <!-- #section:basics/navbar.layout.brand -->
                        {% block logo %}
                            {% spaceless %}
                                <a class="navbar-brand" href="{{ url('sonata_admin_dashboard') }}">
                                    {% if 'single_image' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
                                        <img src="{{ asset(admin_pool.titlelogo) }}" alt="{{ admin_pool.title }}">
                                    {% endif %}
                                </a>
                            {% endspaceless %}
                        {% endblock %}

                        <!-- /section:basics/navbar.layout.brand -->

                        <!-- #section:basics/navbar.toggle -->

                        <!-- /section:basics/navbar.toggle -->
                    </div>

                    <!-- #section:basics/navbar.dropdown -->
                    {% block sonata_top_nav_menu %}
                        <div class="navbar-buttons navbar-header pull-right" role="navigation">
                            <ul class="nav ace-nav">
                                <!-- #section:basics/navbar.user_menu -->
                                <li class="light-blue">
                                    <a data-toggle="dropdown" href="#" class="dropdown-hover">
                                        <img class="nav-user-photo" src="/bundles/painel/avatars/user.jpg" alt="Jason's Photo" />
                                        <span class="user-info">
                                            <small>Welcome,</small>
                                            Jason
                                        </span>

                                        <i class="ace-icon fa fa-caret-down"></i>
                                    </a>

                                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                        <li>
                                            <a href="#">
                                                <i class="ace-icon fa fa-cog"></i>
                                                Settings
                                            </a>
                                        </li>

                                        <li>
                                            <a href="profile.html">
                                                <i class="ace-icon fa fa-user"></i>
                                                Profile
                                            </a>
                                        </li>

                                        <li class="divider"></li>

                                        <li>
                                            <a href="#">
                                                <i class="ace-icon fa fa-power-off"></i>
                                                Logout
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="light-blue dropdown-hover">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-plus-square fa-fw"></i> <i class="fa fa-caret-down"></i>
                                    </a>
                                    {% include admin_pool.getTemplate('add_block') %}
                                </li>
                                <li class="dropdown user-menu">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        {% include admin_pool.getTemplate('user_block') %}
                                    </ul>
                                </li>
                                <!-- /section:basics/navbar.user_menu -->
                            </ul>
                        </div>
                    {% endblock %}
                    <!-- /section:basics/navbar.dropdown -->
                </div><!-- /.navbar-container -->
            </div>
        {% endblock %}
        <!-- /section:basics/navbar.layout -->
        <div class="main-container" id="main-container">
            {% block sonata_side_nav %}

                <!-- #section:basics/sidebar -->
                <div id="sidebar" class="sidebar responsive">

                    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                            <button class="btn btn-success">
                                <i class="ace-icon fa fa-signal"></i>
                            </button>

                            <button class="btn btn-info">
                                <i class="ace-icon fa fa-pencil"></i>
                            </button>

                            <!-- #section:basics/sidebar.layout.shortcuts -->
                            <button class="btn btn-warning">
                                <i class="ace-icon fa fa-users"></i>
                            </button>

                            <button class="btn btn-danger">
                                <i class="ace-icon fa fa-cogs"></i>
                            </button>

                            <!-- /section:basics/sidebar.layout.shortcuts -->
                        </div>

                        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                            <span class="btn btn-success"></span>

                            <span class="btn btn-info"></span>

                            <span class="btn btn-warning"></span>

                            <span class="btn btn-danger"></span>
                        </div>
                    </div><!-- /.sidebar-shortcuts -->

                    {% block side_bar_before_nav %} {% endblock %}
                    {% block side_bar_nav %}
                        {% if app.security.token and is_granted('ROLE_SONATA_ADMIN') %}
                            <ul class="nav nav-list">
                                {% for group in admin_pool.dashboardgroups %}
                                    {% set display = (group.roles is empty or is_granted('ROLE_SUPER_ADMIN') ) %}
                                    {% for role in group.roles if not display %}
                                        {% set display = is_granted(role) %}
                                    {% endfor %}

                                    {# Do not display the group label if no item in group is available #}
                                    {% set item_count = 0 %}
                                    {% if display %}
                                        {% for admin in group.items if item_count == 0 %}
                                            {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                                {% set item_count = item_count+1 %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if display and (item_count > 0) %}
                                        {% set active = false %}
                                        {% for admin in group.items %}
                                            {% if admin.hasroute('list') and admin.isGranted('LIST') and app.request.get('_sonata_admin') == admin.code %}
                                                {% set active = true %}
                                            {% endif %}
                                        {% endfor %}
                                        <li class="highlight{% if active %} active{% endif %}">
                                            <a href="#" class="dropdown-toggle">
                                                {% if group.icon|default() %}{{ group.icon|raw }}{% endif %}
                                                <span class="menu-text">{{ group.label|trans({}, group.label_catalogue) }}</span>
                                                <b class="arrow fa fa-angle-down"></b>
                                            </a>
                                            <ul class="submenu{% if active %} active{% endif %}">
                                                {% for admin in group.items %}
                                                    {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                                        <li{% if app.request.get('_sonata_admin') == admin.code %} class="active"{% endif %}><a href="{{ admin.generateUrl('list')}}"><i class="fa fa-angle-double-right"></i> {{ admin.label|trans({}, admin.translationdomain) }}</a></li>
                                                        {% endif %}
                                                    {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endblock side_bar_nav %}
                    <!-- #section:basics/sidebar.layout.minimize -->
                    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
                    </div>
                    <!-- /section:basics/sidebar.layout.minimize -->
                </div>

            {% endblock sonata_side_nav %}

            <!-- /section:basics/sidebar -->
            <div class="main-content" {% block stlye_content %}style="background: #FFF;" {% endblock %}>
                {% block sonata_login1 %}
                    <!-- #section:basics/content.breadcrumbs -->
                    <div class="breadcrumbs" id="breadcrumbs">
                        {% block sonata_breadcrumb %}
                            {% if _breadcrumb is not empty or action is defined %}
                                <ul class="breadcrumb">
                                    {% if _breadcrumb is empty %}
                                        {% if action is defined %}
                                            {% for menu in admin.breadcrumbs(action) %}
                                                {% if not loop.last  %}
                                                    <li>
                                                        {% if menu.uri is not empty %}
                                                            <a href="{{ menu.uri }}">{{ menu.label|raw }}</a>
                                                        {% else %}
                                                            {{ menu.label }}
                                                        {% endif %}
                                                    </li>
                                                {% else %}
                                                    <li class="active"><span>{{ menu.label }}</span></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% else %}
                                                {{ _breadcrumb|raw }}
                                            {% endif %}
                                </ul><!-- /.breadcrumb -->

                            {% endif %}
                        {% endblock sonata_breadcrumb %}
                        <!-- #section:basics/content.searchbox -->
                        <div class="nav-search" id="nav-search">
                            {% block sonata_sidebar_search %}
                                {% if app.security.token and is_granted('ROLE_SONATA_ADMIN') %}

                                    <form action="{{ url('sonata_admin_search') }}" method="GET" class="form-search" role="search">
                                        <span class="input-icon">
                                            <input type="text" name="q" value="{{ app.request.get('q') }}" class="nav-search-input" placeholder="{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}">                                    
                                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                                        </span>
                                    </form>
                                {% endif %}
                            {% endblock sonata_sidebar_search %}
                        </div><!-- /.nav-search -->

                        <!-- /section:basics/content.searchbox -->
                    </div>
                    <!-- /section:basics/content.breadcrumbs -->
                    <div class="page-content">
                        <!-- /section:settings.box -->
                        <div class="row">
                            <div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->
                                {% block sonata_wrapper %}
                                    <div class="wrapper row-offcanvas row-offcanvas-left">                                       

                                        <aside class="right-side">
                                            {% block sonata_page_content %}
                                                <section class="content-header">
                                                    {% block sonata_page_content_header %}
                                                        {% block sonata_page_content_nav %}
                                                            {% if _tab_menu is not empty or _actions is not empty or _list_filters_actions is not empty %}
                                                                <nav class="navbar navbar-default" role="navigation">
                                                                    {% block tab_menu_navbar_header %}
                                                                        {% if _navbar_title is not empty %}
                                                                            <div class="navbar-header">
                                                                                <span class="navbar-brand">{{ _navbar_title|raw }}</span>
                                                                            </div>
                                                                        {% endif %}
                                                                    {% endblock %}
                                                                    <div class="container-fluid">
                                                                        <div class="navbar-left">
                                                                            {% if _tab_menu is not empty %}
                                                                                {{ _tab_menu|raw }}
                                                                            {% endif %}
                                                                        </div>

                                                                        {% if admin is defined and action is defined and action == 'list' and admin.listModes|length > 1 %}
                                                                            <div class="nav navbar-right btn-group">
                                                                                {% for mode, settings in admin.listModes %}
                                                                                    <a href="{{ admin.generateUrl('list', app.request.query.all|merge({_list_mode: mode})) }}" class="btn btn-default navbar-btn btn-sm{% if admin.getListMode() == mode %} active{% endif %}"><i class="{{ settings.class }}"></i></a>
                                                                                    {% endfor %}
                                                                            </div>
                                                                        {% endif %}

                                                                        {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
                                                                            <ul class="nav navbar-nav navbar-right">
                                                                                <li class="dropdown-hover sonata-actions">
                                                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'link_actions'|trans({}, 'SonataAdminBundle') }} <b class="caret"></b></a>
                                                                                    <ul class="dropdown-menu" role="menu">
                                                                                        {{ _actions|raw }}
                                                                                    </ul>
                                                                                </li>
                                                                            </ul>
                                                                        {% endif %}

                                                                        {% if _list_filters_actions is not empty %}
                                                                            {{ _list_filters_actions|raw }}
                                                                        {% endif %}
                                                                    </div>
                                                                </nav>
                                                            {% endif %} 

                                                        {% endblock sonata_page_content_nav %}
                                                    {% endblock sonata_page_content_header %}
                                                </section>

                                                <section class="content">
                                                    {% block sonata_admin_content %}

                                                        {% block notice %}
                                                            {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
                                                        {% endblock notice %}

                                                        {% if _preview is not empty %}
                                                            <div class="sonata-ba-preview">{{ _preview|raw }}</div>
                                                        {% endif %}

                                                        {% if _content is not empty %}
                                                            <div class="sonata-ba-content">{{ _content|raw }}</div>
                                                        {% endif %}

                                                        {% if _show is not empty %}
                                                            <div class="sonata-ba-show">{{ _show|raw }}</div>
                                                        {% endif %}

                                                        {% if _form is not empty %}
                                                            <div class="sonata-ba-form">{{ _form|raw }}</div>
                                                        {% endif %}

                                                        {% if _list_table is not empty or _list_filters is not empty %}
                                                            {% if _list_filters|trim %}
                                                                <div class="row">
                                                                    {{ _list_filters|raw }}
                                                                </div>
                                                            {% endif %}

                                                            <div class="row">
                                                                {{ _list_table|raw }}
                                                            </div>

                                                        {% endif %}
                                                    {% endblock sonata_admin_content %}
                                                </section>
                                            {% endblock sonata_page_content %}
                                        </aside>

                                    </div>
                                {% endblock sonata_wrapper %}
                                <!-- PAGE CONTENT ENDS -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.page-content -->
                {% endblock %}
            </div><!-- /.main-content -->
            {% block sonata_login2 %}
                <div class="footer">
                    <div class="footer-inner">
                        <!-- #section:basics/footer -->
                        <div class="footer-content">
                            <span class="bigger-120">
                                <span class="blue bolder">Ace</span>
                                Application &copy; 2013-2014
                            </span>

                            &nbsp; &nbsp;
                            <span class="action-buttons">
                                <a href="#">
                                    <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                                </a>

                                <a href="#">
                                    <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                                </a>

                                <a href="#">
                                    <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                                </a>
                            </span>
                        </div>

                        <!-- /section:basics/footer -->
                    </div>
                </div>


                <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
                </a>
            {% endblock %}
        </div><!-- /.main-container -->

        <!-- basic scripts -->
        <!--[if !IE]> -->

        <!-- <![endif]-->

        <!--[if IE]>
    <script type="text/javascript">
    window.jQuery || document.write("<script src='/bundles/painel/js/jquery1x.js'>"+"<"+"/script>");
    </script>
    <![endif]-->
        <script type="text/javascript">
            if ('ontouchstart' in document.documentElement)
                document.write("<script src='/bundles/painel/js/jquery.mobile.custom.js'>" + "<" + "/script>");
        </script>
        <script src="/bundles/painel/js/bootstrap.js"></script>

        <!-- ace scripts -->
        <!-- inline scripts related to this page -->
        {% block view_scripts %}
        {% endblock %}
    </body>
</html>
