{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="sonata-news-block-recent-post panel panel-default">
        {% if settings.title %}
            <div class="panel-heading">
                <h3 class="sonata-news-block-recent-post panel-title"><i class="fa fa-pencil"></i> Artigos mais recentes</h3>
            </div>
        {% endif %}

        <div class="panel-body">
            {% sonata_template_box 'This is the recent posts block.' %}

            <div class="sonata-blog-post-container list-group">
                {% for post in pager.getResults() %}
                    {% if context.getSetting('mode') == 'admin' %}
                        <a class="list-group-item" href="{{ url('admin_sonata_news_post_edit', { 'id': post.id }) }}">
                            {% if post.ispublic %}
                                <span class="label label-success">{{ 'post_is_public'|trans({}, 'SonataNewsBundle') }}</span>
                            {% else %}
                                <span class="label">{{ 'post_is_not_public'|trans({}, 'SonataNewsBundle') }}</span>
                            {% endif %}&nbsp;

                            {{ post.title }} - {{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }} - {{ post.publicationDateStart | format_date }}</a>
                    {% else %}
                        <a class="list-group-item" href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a> - {{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }} - {{ post.publicationDateStart | format_date }}
                    {% endif %}
                {% else %}
                    <a class="list-group-item" href="#">{{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}</a>
                {% endfor %}
            </div>

            {% if context.getSetting('mode') == 'admin' %}
                <a href="{{ url('admin_sonata_news_post_list') }}" class="btn btn-primary btn-block"><i class="fa fa-list"></i> {{ 'view_all_posts'|trans({}, 'SonataNewsBundle') }}</a>
            {% else %}
                <a href="{{ url('sonata_news_archive') }}" class="btn btn-primary btn-block"><i class="fa fa-list"></i> {{ 'view_all_posts'|trans({}, 'SonataNewsBundle') }}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
