{% extends base_template %}

{% block sonata_nav %}
{% endblock sonata_nav %}

{% block stlye_content %}
{% endblock %}

{% block sonata_login %}
{% endblock %}

{% block sonata_login2 %}
{% endblock %}

{% block logo %}
{% endblock logo %}

{% block sonata_left_side %}
{% endblock sonata_left_side %}

{% block sonata_side_nav %}
{% endblock sonata_side_nav %}

{% block body_attributes %}class="login-layout blur-login"{% endblock %}

{% block sonata_login1 %}
    {% block sonata_user_login_form %}
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="center">
                        <h1>
                            <i class="ace-icon fa fa-leaf green"></i>
                            <span class="red">Painel</span>
                            <span class="white" id="id-text2">Base</span>
                        </h1>
                        <h4 class="blue" id="id-company-text">&copy; Agência 110</h4>
                    </div>

                    <div class="space-6"></div>

                    <div class="position-relative">
                        <div id="login-box" class="login-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header blue lighter bigger">
                                        <i class="ace-icon fa fa-coffee green"></i>
                                        Insira suas informações
                                    </h4>

                                    <div class="space-6">
                                        {% block sonata_user_login_error %}
                                            {% if error %}
                                                <div class="alert alert-danger alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
                                            {% endif %}
                                        {% endblock %}
                                    </div>

                                    <form action="{{ path("sonata_user_admin_security_check") }}" method="post" role="form">
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                                        <fieldset>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input type="text" class="form-control" id="username"  name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans({}, 'SonataUserBundle') }}"/>
                                                    <i class="ace-icon fa fa-user"></i>
                                                </span>
                                            </label>

                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans({}, 'SonataUserBundle') }}"/>
                                                    <i class="ace-icon fa fa-lock"></i>
                                                </span>
                                            </label>

                                            <div class="space"></div>

                                            <div class="clearfix">
                                                <label class="inline">
                                                    <input type="checkbox" id="remember_me" class="ace" name="_remember_me" value="on" />
                                                    <span class="lbl"> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</span>
                                                </label>                                               

                                                <button type="submit" id="_submit" name="_submit" class="width-35 pull-right btn btn-sm btn-primary">
                                                    <i class="ace-icon fa fa-key"></i>
                                                    <span class="bigger-110">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</span>
                                                </button>                                            
                                            </div>

                                            <div class="space-4"></div>
                                        </fieldset>
                                    </form>
                                </div><!-- /.widget-main -->

                                <div class="toolbar clearfix">
                                    <div>
                                        <a href="{{ path('fos_user_resetting_request') }}" data-target="#forgot-box" class="forgot-password-link">
                                            <i class="ace-icon fa fa-arrow-left"></i>
                                            {{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}
                                        </a>
                                    </div>
                                </div>
                            </div><!-- /.widget-body -->
                        </div><!-- /.login-box -->

                        <div id="forgot-box" class="forgot-box widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header red lighter bigger">
                                        <i class="ace-icon fa fa-key"></i>
                                        Recuperar senha
                                    </h4>

                                    <div class="space-6"></div>
                                    <p>
                                        Digite seu e-mail para receber instruções
                                    </p>

                                    <form>
                                        <fieldset>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input type="email" class="form-control" placeholder="Email" />
                                                    <i class="ace-icon fa fa-envelope"></i>
                                                </span>
                                            </label>

                                            <div class="clearfix">
                                                <button type="button" class="width-35 pull-right btn btn-sm btn-danger">
                                                    <i class="ace-icon fa fa-lightbulb-o"></i>
                                                    <span class="bigger-110">Me envie!</span>
                                                </button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div><!-- /.widget-main -->

                                <div class="toolbar center">
                                    <a href="#" data-target="#login-box" class="back-to-login-link">
                                        Voltar para o Login
                                        <i class="ace-icon fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div><!-- /.widget-body -->
                        </div><!-- /.forgot-box -->                        
                    </div><!-- /.position-relative -->                    
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    {% endblock %}
{% endblock sonata_login1 %}
{% block view_scripts %}
    <script type="text/javascript">
        jQuery(function ($) {
            $(document).on('click', '.toolbar a[data-target]', function (e) {
                e.preventDefault();
                var target = $(this).data('target');
                $('.widget-box.visible').removeClass('visible');//hide others
                $(target).addClass('visible');//show target
            });
        });
    </script>
{% endblock %}